.gremio-main{
    position: relative
}

.gremio-nav{
    position: absolute;
    top: 6%;
    left:50%;
    transform: translate(-50%, -50%);
}

.btn-gremio{
    background:  black;
    color: white!important;
    font-size: 14px;
}

.img-logo{
    width: 100px;
    height: 44px;
}


.cover-img {
    object-fit: cover;
    width: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover-img-sample-1 {
    background-image: url("../images/sample_1.jpg");
}

.cover-img-sample-2 {  
    background-image: url("../images/sample_2.jpg");
}

.cover-img-sample-3 {
    background-image: url("../images/sample_3.jpg");
}

.move-up {
    bottom: 30% !important;
}

/* Images - end */


/* about us  */
.bg-onama
{
    background: black;
    color: white;
}

.ab-us-1 {

}

.ab-us-2{

}

.ab-us-3{

}

.ab-us-4{

}

/* about us - end */


/* prijatelji */

.pozadina{
    background: url("../images/footerimg.jpeg")
}

#prijatelji{
    background: white;
    opacity: 0.7;
}

.img-friends-align{
    height: 100%;
    display: flex;
    align-items: center; 
}
.img-prijatelji{
    max-width: 100%;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);

}
.img-prijatelji:hover{
    -webkit-filter: grayscale(0%)!important;
    filter: grayscale(0%)!important;
}
/* prijatelji - end */

/* News section - begin */

.news-img img:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-img img {
    opacity: 0.5;
    transition: 0.7s;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.news-container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px black;
}

.bottom-center {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*News section - end*/

/* Social network - begin */

.social-network-container-left {
    width: 50%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-network-container-right {
    width: 50%;
}

.social-network-container .row {
    position: relative;
}

.social-text {
    position: absolute;
    top: 38%;
    transform: translate(0%,-50%);
    margin-left: 20px;
}

.social-link {
    color: black !important;
}

.social-link:hover {
    color: gray !important;
}

/* Social network - end */
