.gremio-main{
    position: relative
}

.gremio-nav{
    position: absolute;
    top: 0;
    left:10%

}

.btn-gremio{
    background:  black;
    color: white!important;
    font-size: 14px;
}

.img-logo{
    width: 100px;
    height: 44px;
}

.cover-img {
    object-fit: cover;
    width: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Images - begin */
.cover-img-sample-1 {
    background-image: url("../images/sample_1.jpg");
}

.cover-img-sample-2 {  
    background-image: url("../images/sample_2.jpg");
}

.cover-img-sample-3 {
    background-image: url("../images/sample_3.jpg");
}

/* Images - end */


/* about us  */
.bg-onama
{
    background: black;
    color: white;
}

.ab-us-1 {

}

.ab-us-2{

}

.ab-us-3{

}

.ab-us-4{

}

/* about us - end */


/* prijatelji */

#prijatelji{
    background: black;
    opacity: 0.7;
}

.img-friends-align{
    height: 100%;
    display: flex;
    align-items: center; 
}
.img-prijatelji{
    max-width: 100%;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);

}
.img-prijatelji:hover{
    -webkit-filter: grayscale(0%)!important;
    filter: grayscale(0%)!important;
}
/* prijatelji - end */

#footer {
    width: 100%;
    height: 100%;
    z-index: 100;
    background: 
    linear-gradient(
        rgba(240, 212, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
    ),
  }

  .pozadina{
    background: 
    url('../images/footerimg.jpeg');
  }
  